<!DOCTYPE html>
<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<title>Prueba Ajax</title>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

</head>

<style>

.button_enviar{
    padding: 10px 20px;
    background: #dcda19;
    border-radius: 10px;
}
*{
    margin: 0px;
    padding: 0px;
}

.body{  
    margin:auto;
    margin-top: 60px;
    width: 900px;
    height: 500px;
    border: 1px solid black;
}

.izquierda {
    width: 50%;
    height: 500px;
    background-color: red;
    float: left;
}

.formulario{
    width: 400px;
    height: 500px;
    background-color: #848484;
    float: right;
}

.contenido{
    display: block;
    width: auto;
    padding: 30px;
    text-align: center;
}




</style>
<body bgcolor="#D8D8D8">
<div class="body">
<div class="izquierda">

    <div class="contenido">

    Gracias por registrarte 
 <!-----nombre de id ---->
    <center>
<span id="add">?</span>
<span id="fecha_date">?</span> 
<span id="sutelefono">?</span> 
<span id="entidad">?</span> 
<span id="last_name">?</span> 
<span id="mail">?</span> 
</center>


    </div>      
</div>
<div class="formulario"><h1><center>Formulario</center></h1>
    <center>Gracias por registrarte </center> <span id="nombre_completo"></span> 
    <p><center>Ingresa tu Nombre: </center><center><input  type="text" name="nombrecompleto" id="va1" placeholder="Enter Name"></center>
   <span id="nombreerror"></span>
   <p><center>Ingresa tu correo: </center><center><input  type="text" name="correo" id="val6" placeholder="Enter Name"></center>
    <span id="correoerror"></span>
   <p><center>Ingresa tu Apellido: </center><center><input type="text" name="apellido" id="val2" placeholder="Enter last Name"></center>
    <span id="apellidoerror"></span>
   <p><center>Ingresa tu edad:</center><center><input type="int" name="edad" id="val3" placeholder="Enter Age "></center>
    <span id="edaderror"></span>
   <p><center>Ingresa tu Telefono:</center> <center><input type="int" name="telefono" id="val4" placeholder="Enter phone number"></center>
    <span id="telefonoerror"></span>
   <p><center>Ingresa tu Estado:</center><center>
   <select name="estado"id="val5">
     <option value="aguascalientes">Aguascalientes</option>
     <option value="coahuila">Coahuila</option>
     <option value="distritofederal">DistritoFederal</option>
     </select>
     </center>
     <span id="estadoerror"></span>

   
   
   
   <!---boton----> 
   <center> <span id="result"></span></p>
<p><a href="#"id="calculate" class="button_enviar">enviar</a></p></center></div>
</div>





<footer>


<script type="text/javascript">


    function validar() {
            nombrecompleto= $("#va1").val();
            correo= $("#va1").val();
            apellido= $("#val6").val();
            edad= $("#val3").val();
            telefono= $("#val4").val();
            estado= $("#val5").val();

            var nombreerror = false;
            var counterror =0;
            if(nombrecompleto.length === 0){

            var nombreerror = true;
            counterror = counterror +1;
            

            
            }

            var correoerror = false;
            var countcorreoerror =0;
            if(correo.length === 0){

            var correoerror = true;
            countcorreoerror = countcorreoerror +1;
            

            
            }

            var apellidoerror = false;
            var countapellidoerror =0;
            if(apellido.length === 0){

            var apellidoerror = true;
            countapellidoerror = countapellidoerror +1;

            }





            var edadinterror = false;
            if(!$.isNumeric(edad)){
            var edadinterror = true;
            counterror = counterror+1;
            
            }
            var telefonoerror = false;
            if(!$.isNumeric(telefono)){

            var telefonoerror = true;
            counterror = counterror+1;
            
            }
            
            var estadoerror =false;
            if(estado.length === 0){

            var estadoerror = true;
            counterror = counterror+1;

  

            }    


            var edaderror =false;
            if(edad.length === 0){

            var edaderror = true;
            counterror = counterror+1;

  

            }     




                        console.log('edadinterror');
            console.log(edadinterror);

            console.log('telefonoerror');
            console.log(telefonoerror);

            console.log('estadoerror ');
            console.log(estadoerror);



            return {
                counterror: counterror, 
                nombreerror: nombreerror,
                apellidoerror: apellidoerror,
                telefonoerror: telefonoerror,
                estadoerror: estadoerror,
                edaderror: edaderror,
                edadinterror: edadinterror,
                correo: correo,

            }
            
}



    function send() {
        var data_form = {
            nombrecompleto: $("#va1").val(),
            correo: $("#val6").val(),
            apellido: $("#val2").val(),
            edad: $("#val3").val(),
            telefono: $("#val4").val(),
            estado: $("#val5").val(),

        }


        console.log(data_form);
        $('#target').html('sending..');

        $.ajax({
            url: $SCRIPT_ROOT + '/_add_formulario',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(data_form),
            success: function (data) {
                console.log(data);
                $("#add").text(data.nombrecompleto);
                $("#sutelefono").text(data.telefono);
                $("#entidad").text(data.estado);
                $("#fecha_date").text(data.year);
                $("#last_name").text(data.apellido);

                errormail = data.errormail

                if (errormail==true){
                $("#correoerror").text('este correo ya fue registrado');
            }

                else{

                    $("#correoerror").text('');


            }
        }

        
    });

         }

$('a#calculate').bind('click', function() {




validacion = validar();

if (validacion.counterror == 0 ){
    send();

    $("#estadoerror").text('');
   $("#nombreerror").text('');
   $("#edaderror").text('');
   $("#edadinterror").text('');
   $("#telefonoerror").text('');
   $("#apellidoerror").text('');
   $("#correoerror").text('');
}

 
else {

if(validacion.nombreerror == true){
 $("#nombreerror").text('completa este campo y usa caracteres');

    }

 else{
    $("#nombreerror").text('');
 } 

 if(validacion.correoerror == true){
 $("#correoerror").text('completa este campo y usa caracteres');

    }

 else{
    $("#correoerror").text('');
 }

if(validacion.apellidoerror == true){
 $("#apellidoerror").text('completa este campo y usa caracteres');

    }

 else{
    $("#apellidoerror").text('');
 } 

if(validacion.nombreerror == true){
 $("#nombreerror").text('completa este campo y usa caracteres');

    }

 else{
    $("#nombreerror").text('');
 }   

if(validacion.edaderror == true){
 $("#edaderror").text('completa este campo y usa numeros');

    }
else{
    $("#edaderror").text('');
 }   

if(validacion.edadinterror == true){
 $("#edadinterror").text('completa este campo y usa numeros');

    }
    else{
    $("#edadinterror").text('');
 }   

if(validacion.telefonoerror== true){
 $("#telefonoerror").text('completa este campo y usa numeros');

    }
    else{
    $("#telefonoerror").text('');
 }   

if(validacion.estadoerror== true){
 $("#estadoerror").text('completa este campo y usa numeros');

    }

    else{
    $("#estadoerror").text('');
 }   




}



        return false;
    });

</script>



</footer>
</body>
</html>


